<div class='row mt-3'>
  <div class='col'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Administrace
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Mějte přehled!
      </div>
      <div class='card-body'>
        <p class='card-text'>Děsíte se toho, co všechno zákazníci zakoupili a
          vychlastali? Jednoduše zkontrolujte všechny objednávky všem!</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_orders' class='btn btn-primary'>Objednávky</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Fakturace?!
      </div>
      <div class='card-body'>
        <p class='card-text'>Ne že by to byla Vaše starost, ale není na škodu se
          občas podívat, jak se daří kšeftu.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_invoice' class='btn btn-primary'>Fakturace</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Jak lidé platí své dluhy?
      </div>
      <div class='card-body'>
        <p class='card-text'>Doufejme, že lépe než naše ekonomické oddělení.
          Nevěříte-li, přesvědčte se na vlastní oči!</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_payments' class='btn btn-primary'>Platby</a>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Přidejte nový produkt
      </div>
      <div class='card-body'>
        <p class='card-text'>Chce některý z dodavatelů potěšit své klienty novým
          produktem? Přidejte jej snadno a rychle!</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/new_product' class='btn btn-primary'>Nový produkt</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        TODO: Upravte stávající produkt
      </div>
      <div class='card-body'>
        <p class='card-text'>Upravte název, popis, obrázek či kód pro objednání
          z klávesnice.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_invoice' class='btn btn-primary'>Produkty</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        TODO:
      </div>
      <div class='card-body'>
        <p class='card-text'></p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_payments' class='btn btn-primary'>TBA</a>
      </div>
    </div>
  </div>
</div>