<div class='row mt-3'>
  <div class='col'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Administrace
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Všechny objednávky
      </div>
      <div class='card-body'>
        <p class='card-text'>Načíst všechny objednávky všech uživatelů. V
          závislosti na počtu položek může načtení trvat delší dobu.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_orders' class='btn btn-primary'>Zobrazit objednávky</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Vše k fakturaci
      </div>
      <div class='card-body'>
        <p class='card-text'>Načíst všechny položky k fakturaci všech
          dodavatelů. V závislosti na počtu položek může načtení trvat delší
          dobu.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_invoice' class='btn btn-primary'>Zobrazit fakturaci</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Všechny platby
      </div>
      <div class='card-body'>
        <p class='card-text'>Načíst všechny platby všech uživatelů v pohledu
          plateb. V závislosti na počtu položek může načtení trvat delší dobu.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_payments' class='btn btn-primary'>Zobrazit platby</a>
      </div>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Správa uživatelů
      </div>
      <div class='card-body'>
        <p class='card-text'>Změňte uživatelům oprávnění nebo anonymizujte
          bývalé uživatele.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/admin_users' class='btn btn-primary'>TODO</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Nová kategorie
      </div>
      <div class='card-body'>
        <p class='card-text'>Vytvořte kategorii, podle které lze filtrovat
          produkty.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/new_category' class='btn btn-primary'>Vytvořit kategorii</a>
      </div>
    </div>
  </div>
  <div class='col-lg py-3'>
    <div class='card h-100 text-center'>
      <div class='card-header h4'>
        Úprava kategorie
      </div>
      <div class='card-body'>
        <p class='card-text'>Upravte nebo zakažte kategorii, podle které lze
          filtrovat produkty.</p>
      </div>
      <div class='card-footer text-muted'>
        <a href='/edit_category' class='btn btn-primary'>Upravit kategorii</a>
      </div>
    </div>
  </div>
</div>