<p class='text-center'>
  <b>ZÁSADY PRÁCE S VAŠIMI ÚDAJI</b>
</p>
<p>
  Jsme společnost
  <b>Lednice IT</b>
</p>
<p>
  Pro poskytování prodeje zboží a provoz našich webových stránek zpracováváme
  některé osobní údaje.
</p>
<p>
  Zpracování osobních údajů upravuje zejména nařízení Evropského parlamentu a
  Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických sobo v
  souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o
  zrušení směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů) ("<b
  >GDPR</b>")
</p>
<h2>
  I. Zpracování osobních údajů
</h2>
<p>
  A.
  <b>Zpracování osobních údajů v případě nákupu</b>
</p>
<p>
  Pokud u nás nakoupíte, budeme pracovat s údaji, které nám vyplníte. Jsou to
  hlavně fakturační údaje: jméno, příjmení, e-mailová adresa
</p>
<p>
  <u>Z jakého důvodu?</u>
</p>
<p>
  Osobní údaje potřebujeme zpracovat, abychom splnili naši smlouvu – dodali vám
  naše zboží. Přes kontaktní údaje s vámi budeme také komunikovat ohledně stavu
  vaší objednávky, případně ohledně reklamací nebo vašich dotazů.
</p>
<p>
  Osobní údaje budeme dále zpracovávat pro splnění našich povinností, které nám
  plynou ze zákona (hlavně pro účetní a daňové účely, případně pro vyřízení
  reklamací a jiné).
</p>
<p>
  <u>Na základě jakého právního důvodu osobní údaje zpracováváme?</u>
</p>
<p>
  Jedná se o zpracování na základě čl. 6 odst. 1 písm. b) GDPR – plnění smlouvy
  a čl. 6 odst. 1 písm. c) GDPR – plnění naší právní povinnosti.
</p>
<p>
  <u>Jak dlouho budeme osobní údaje zpracovávat?</u>
</p>
<p>
  Po dobu plnění naší služby a poté po ukončení Vašeho pracovního poměru v místě
  provozování e-shopu Lednice IT.
</p>
<p>
  B.
  <b>Newslettery (obchodní sdělení)</b>
</p>
<p>
  Pokud jste nakupující zákazník a nezakázali jste nám to při nákupu, použijeme
  vaši e-mailovou adresu pro rozesílku našich novinek.
</p>
<p>
  <u>Na základě jakého právního důvodu?</u>
</p>
<p>
  Umožňuje nám to ust. § 7 odst. 3 zákona č. 480/2004 Sb., o některých službách
  informační společnosti, pokud jste nám to při nákupu nezakázali.
</p>
<p>
  <u>Jak dlouho budeme osobní údaje zpracovávat?</u>
</p>
<p>
  5 let od vašeho posledního nákupu. Z rozesílky se můžete kdykoliv odhlásit
  prostřednictvím e-mailu
</p>
<h2>
  II. Kdo se k datům dostane?
</h2>
<p>
  Vaše data zůstanou u nás.
</p>
<p>
  Osobní údaje zpracováváme pouze na území Evropské unie.
</p>
<h2>
  III. Co byste dál měli vědět
</h2>
<p>
  V naší společnosti nemáme jmenovaného pověřence pro ochranu osobních údajů.
</p>
<p>
  V naší společnosti nedochází k rozhodování na základě automatického zpracování
  či profilování.
</p>
<p>
  Pokud byste měli k osobním údajům otázky, kontaktujte nás na e-mailové adrese
  contact@houby-studio nebo osobně v místě provozování e-shopu Lednice IT
</p>
<h2>
  IV. Používání souborů cookies
</h2>
<p>
  Cookies jsou textové soubory obsahující malé množství informací, které se při
  návštěvě našich webových stránek stahují do Vašeho zařízení. Soubory cookies
  se následně při každé další návštěvě odesílají zpět na webovou stránku nebo
  jinou webovou stránku, která je rozpozná.
</p>
<p>
  Soubory cookies plní různé úlohy, například umožňují efektivní navigaci mezi
  webovými stránkami, zapamatování si Vašich preferencí a celkově zlepšují
  zkušenost uživatele.
</p>
<p>
  Na webových stránkách používáme následující cookies:
</p>
<ul>
  <li>
    <b>Nezbytné cookies</b>: jsou zapotřebí k provozu webových stránek, umožňují
    například přihlásit se do zabezpečených částí stránek a další základní
    funkčnosti stránek. Tato kategorie cookies se nedá zakázat.
  </li>
</ul>
<p>
  Upozorňujeme, že třetí strany (včetně např. poskytovatelů externích služeb)
  mohou rovněž používat cookies a/nebo přistupovat k údajům shromažďovaným
  cookies na webových stránkách.
</p>
<p>
  Používané soubory cookies:
</p>
<table class='table'>
  <thead>
    <tr>
      <td>
        <p>
          <b>Technický název</b>
        </p>
      </td>
      <td>
        <p>
          <b>Vydavatel</b>
        </p>
      </td>
      <td>
        <p>
          <b>Účel o popis cookies</b>
        </p>
      </td>
      <td>
        <p>
          <b>Doba trvání</b>
        </p>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>
          connect.sid
        </p>
      </td>
      <td>
        <p>
          Lednice IT
        </p>
      </td>
      <td>
        <p>
          Přihlášení uživatele pomocí Passport.js
        </p>
      </td>
      <td>
        <p>
          Permanentní (30 dní)
        </p>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
<p>
  Další informace o cookies a jejich aktuální seznam naleznete prostřednictvím
  jednotlivých internetových prohlížečů, nejčastěji v položce Nástroje pro
  vývojáře.
</p>
<p>
  Další informace o správě cookies v jednotlivých prohlížečích naleznete na
  následujících odkazech:
</p>
<p>
  Internet Explorer -
  <a
    href='https://support.microsoft.com/cs-cz/help/17442/windows-internet-explorer-delete-manage-cookies'
  >
    https://support.microsoft.com/cs-cz/help/17442/windows-internet-explorer-delete-manage-cookies
  </a>
</p>
<p>
  Google Chrome -
  <a
    href='https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=cs'
  >
    https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=cs
  </a>
</p>
<p>
  Firefox -
  <a href='https://support.mozilla.org/cs/kb/povoleni-zakazani-cookies'>
    https://support.mozilla.org/cs/kb/povoleni-zakazani-cookies
  </a>
</p>
<p>
  Safari -
  <a href='https://support.apple.com/cs-cz/guide/safari/sfri11471/mac'>
    https://support.apple.com/cs-cz/guide/safari/sfri11471/mac
  </a>
</p>
<p>
  Opera -
  <a href='https://help.opera.com/cs/latest/security-and-privacy/'>
    https://help.opera.com/cs/latest/security-and-privacy/
  </a>
</p>
<p>
  Microsoft Edge -
  <a
    href='https://docs.microsoft.com/cs-cz/sccm/compliance/deploy-use/browser-profiles'
  >
    https://docs.microsoft.com/cs-cz/sccm/compliance/deploy-use/browser-profiles
  </a>
</p>
<h2>
  V. Vaše práva v souvislosti se zpracováním osobních údajů
</h2>
<p>
  Nařízení GDPR vám dává mimo jiné právo obrátit se na nás a chtít informace,
  jaké vaše osobní údaje zpracováváme, vyžádat si u nás přístup k těmto údajům a
  nechat je aktualizovat nebo opravit, popřípadě požadovat omezení zpracování,
  můžete požadovat kopii zpracovávaných osobních údajů, požadovat po nás v
  určitých situacích výmaz osobních údajů a v určitých případech máte právo na
  jejich přenositelnost. Proti zpracování na základě oprávněného zájmu lze
  vznést námitku.
</p>
<p>
  Pokud si myslíte, že s daty nenakládáme správně, máte právo podat stížnost u
  <a href='http://www.uoou.cz/'>Úřadu pro ochranu osobních údajů</a>, případně
  se se svými nároky obrátit na soud.
</p>
<p>
  Tyto podmínky jsou účinné od 1.11.2023
</p>