{{#unless user.kiosk}}
<nav class='navbar navbar-expand-lg bg-body-tertiary sticky-top'>
  <div class='container-fluid px-2'>

    {{!-- Brand --}}
    <a class='navbar-brand' href='/'>Lednice IT</a>

    {{!-- Collapsible button toggler --}}
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    {{!-- Collapsible in mobile resolution --}}
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto'>
        {{#if user}}
        <li class='nav-item'>
          <a class='nav-link text-nowrap' href='/shop'><i class='fa-solid fa-shopping-basket'></i> Nakupovat <span
              class='sr-only'></span></a>
        </li>
        <li class='nav-item'>
          <a class='nav-link text-nowrap' href='/orders'><i class='fa-solid fa-shopping-cart'></i> Objednávky</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link text-nowrap' href='/invoices'><i class='fa-solid fa-file-invoice-dollar'></i> Faktury</a>
        </li>
        {{/if}}
        {{#if user.supplier}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-parachute-box"></i> Dodavatel
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-nowrap" href="/add_products"><i class='fa-solid fa-dolly'></i> Naskladnit</a></li>
            <li><a class="dropdown-item text-nowrap" href="/new_product"><i class="fa-solid fa-cart-plus"></i> Nový produkt</a></li>
            <li><a class="dropdown-item text-nowrap" href="/edit_product"><i class="fa-solid fa-cart-arrow-down"></i> Upravit produkt</a></li>
            <li><a class="dropdown-item text-nowrap" href="/esl_mapping"><i class='fa-solid fa-tag'></i> Elektronické cenovky</a></li>
            <li><a class="dropdown-item text-nowrap" href="/invoice"><i class='fa-solid fa-cash-register'></i> Fakturace</a></li>
            <li><a class="dropdown-item text-nowrap" href="/payments"><i class='fa-solid fa-file-invoice'></i> Platby</a></li>
            <li><a class="dropdown-item text-nowrap" href="/stock"><i class='fa-solid fa-boxes'></i> Stav skladu</a></li>
          </ul>
        </li>
        {{/if}}
        {{#if user.admin}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-crown"></i> Administrátor
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-nowrap" href="/dashboard"><i class='fa-solid fa-columns'></i> Dashboard</a></li>
            <li><a class="dropdown-item text-nowrap" href="/admin_orders"><i class='fa-solid fa-shopping-cart'></i> Všechny objednávky</a></li>
            <li><a class="dropdown-item text-nowrap" href="/admin_payments"><i class='fa-solid fa-file-invoice'></i> Všechny platby</a></li>
            <li><a class="dropdown-item text-nowrap" href="/admin_invoice"><i class='fa-solid fa-cash-register'></i> Vše k fakturaci</a></li>
            <li><a class="dropdown-item text-nowrap" href="/admin_users"><i class='fa-solid fa-users'></i> Uživatelé</a></li>
            <li><a class="dropdown-item text-nowrap" href="/new_category"><i class='fa-solid fa-filter'></i> Nová kategorie</a></li>
            <li><a class="dropdown-item text-nowrap" href="/edit_category"><i class="fa-solid fa-filter-circle-xmark"></i> Upravit kategorii</a></li>
            <li><a class="dropdown-item text-nowrap" href="/storno"><i class="fa-solid fa-rotate-left"></i> Zrušit objednávku</a></li>
          </ul>
        </li>
        {{/if}}

        <li class='nav-item'>
          <a class='nav-link text-nowrap' href='/docs'><i class="fa-solid fa-book"></i> Dokumentace <span
              class='sr-only'></span></a>
        </li>


      </ul>
      <ul class='navbar-nav'>
        {{#if user}}
        <li class='nav-item'>
          <div class="btn-group w-100 text-nowrap">
            <a href="/profile" class="btn btn-outline-secondary w-100" title="Profil uživatele">{{#if user.admin}}<i
                class="fa-solid fa-user-cog">{{else}}<i class="fa-solid fa-user">{{/if}}</i> {{user.displayName}}</a>
            <a href="/logout" class="btn btn-danger" title="Odhlásit"><i class="fa-solid fa-right-from-bracket"></i></a>
          </div>
        </li>
        {{else}}
        <li class='nav-item'>
          <a class='btn btn-success w-100' href='/login'><i class="fa-solid fa-right-to-bracket"></i> Přihlásit</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{/unless}}