{{#unless user.kiosk}}
<nav class='navbar navbar-expand-lg bg-body-tertiary sticky-top'>
  <div class='container-fluid px-2'>
    <a class='navbar-brand' href='/'>Lednice IT</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 lb-lg-0'>
        {{#if user}}
        <li class='nav-item mx-auto'>
          <a class='nav-link' href='/shop'><i class='fas fa-shopping-basket'></i> Nakupovat <span
              class='sr-only'></span></a>
        </li>
        {{/if}}
        <li class='nav-item mx-auto'>
          <a class='nav-link' href='/about'><i class='fas fa-question-circle'></i> O aplikaci <span
              class='sr-only'></span></a>
        </li>
        <li class='nav-item mx-auto'>
          <a class='nav-link' href='/changelog'><i class='fas fa-clipboard-list'></i> Changelog <span
              class='sr-only'></span></a>
        </li>
      </ul>
      <ul class='navbar-nav'>
        {{#if user}}
        <li class='nav-item dropdown'>
          <a class='nav-link dropdown-toggle text-center' href='#' role='button' data-bs-toggle='dropdown'
            aria-expanded='false'>
            {{#if user.admin}}<i class="fas fa-user-cog"></i>{{else}}<i class="fas fa-user">{{/if}}</i>
            {{user.displayName}}
          </a>
          <ul class='dropdown-menu'>
            {{#if user.admin}}
            <li>
              <a class='dropdown-item text-center' href='/dashboard'><i class='fas fa-columns'></i> Dashboard</a>
            </li>
            <div role='separator' class='dropdown-divider'></div>
            {{/if}}
            <li>
              <a class='dropdown-item text-center' href='/profile'><i class='fas fa-id-card'></i> Profil</a>
            </li>
            <li>
              <a class='dropdown-item text-center' href='/orders'><i class='fas fa-shopping-cart'></i> Objednávky</a>
            </li>
            <li>
              <a class='dropdown-item text-center' href='/invoices'><i class='fas fa-file-invoice-dollar'></i>
                Faktury</a>
            </li>
            {{#if user.supplier}}
            <div role='separator' class='dropdown-divider'></div>
            <li>
              <a class='dropdown-item text-center' href='/add_products'><i class='fas fa-dolly'></i> Naskladnit</a>
            </li>
            <li>
              <a class='dropdown-item text-center' href='/invoice'><i class='fas fa-cash-register'></i> Fakturace</a>
            </li>
            <li>
              <a class='dropdown-item text-center' href='/payments'><i class='fas fa-file-invoice'></i> Platby</a>
            </li>
            <li>
              <a class='dropdown-item text-center' href='/stock'><i class='fas fa-boxes'></i> Stav skladu</a>
            </li>
            {{/if}}
          </ul>
        </li>
        <li class='nav-item'>
          <a class='btn btn-danger' href='/logout'><i class='fas fa-sign-out-alt'></i> Odhlásit</a>
        </li>
        {{else}}
        <li class='nav-item'>
          <a class='btn btn-success' href='/login'><i class='fas fa-sign-in-alt'></i> Přihlásit</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{/unless}}