<p class='text-center'>
  <b>VŠEOBECNÉ OBCHODNÍ PODMÍNKY</b>
</p>
<p>
  Tyto všeobecné obchodní podmínky ("Podmínky") společnosti
  <b>Lednice IT</b>
  vedeném u každého dobrého ajťáka, e-mail contact@houby-studio.eu ("<b>My</b>"
  nebo "<b>Prodávající</b>") upravují v souladu s ustanovením § 1751 odst. 1
  zákona č. 89/2012 Sb., občanský zákoník, ve znění pozdějších předpisů ("<b
  >Občanský zákoník</b>") vzájemná práva a povinnosti Vás, jakožto kupujících, a
  Nás, jakožto prodávajících, vzniklá v souvislosti nebo na základě kupní
  smlouvy ("<b>Smlouva</b>") uzavřené prostřednictvím E-shopu na webových
  stránkách
  <b>Lednice IT</b>.
</p>
<p>
  Všechny informace o zpracování Vašich osobních údajů jsou obsaženy v
  <b>Zásadách zpracování osobních údajů</b>, která naleznete níže na této
  stránce.
</p>
<p>
  Jak jistě víte, tak komunikujeme primárně na dálku. Proto i pro naši Smlouvu
  platí, že jsou použity prostředky komunikace na dálku, které umožňují, abychom
  se spolu dohodli bez současné fyzické přítomnosti Nás a Vás, a Smlouva je tak
  uzavřena distančním způsobem v prostředí E-shopu, a to prostřednictvím
  rozhraní webové stránky ("<b>webové rozhraní E-shopu</b>").
</p>
<p>
  Pokud některá část Podmínek odporuje tomu, co jsme si společně schválili v
  rámci procesu Vašeho nákupu na Našem E-shopu, bude mít tato konkrétní dohoda
  před Podmínkami přednost.
</p>
<p>
  1.
  <b>NĚKTERÉ DEFINICE</b>
</p>
<p>
  1.1. Cenaje finanční částka, kterou budete hradit za Zboží;
</p>
<p>
  1.2. Faktura je nedaňový doklad vystavený bez ohledu na zákon;
</p>
<p>
  1.3. Objednávka je Váš závazný návrh na uzavření Smlouvy o koupi Zboží s Námi;
</p>
<p>
  1.4. Uživatelský účet je účet zřízený na základě údajů obdržených od
  zprostředkovatele identity třetí strany, jež umožňuje uchování zadaných údajů
  a uchovávání historie objednaného Zboží a uzavřených Smluv;
</p>
<p>
  1.5. Vy jste osoba nakupující na Našem E-shopu, právními předpisy označovaná
  jako kupující;
</p>
<p>
  1.6. Zboží je vše, co můžete nakoupit na E-shopu.
</p>
<p>
  2.
  <b>Obecná ustanovení a poučení</b>
</p>
<p>
  2.1. Koupě Zboží je možná jen přes webové rozhraní E-shopu nebo samoobslužný
  kiosek.
</p>
<p>
  2.2. Při nákupu Zboží je Vaše povinnost poskytnout Nám všechny informace
  správně a pravdivě. Informace, které jste Nám poskytli v Objednávce budeme
  tedy považovat za správné a pravdivé.
</p>
<p>
  3.
  <b>UZAVŘENÍ SMLOUVY</b>
</p>
<p>
  3.1. Smlouvu s Námi je možné uzavřít pouze v českém jazyce.
</p>
<p>
  3.2. Smlouva je uzavírána na dálku prostřednictvím E-shopu, přičemž náklady na
  použití komunikačních prostředků na dálku hradíte Vy. Tyto náklady se však
  nijak neliší od základní sazby, kterou hradíte za používání těchto prostředků
  (tedy zejména za přístup k internetu), žádné další náklady účtované Námi tedy
  nad rámec Celkové ceny nemusíte očekávat. Odesláním Objednávky souhlasíte s
  tím, že prostředky komunikace na dálku využíváme.
</p>
<p>
  3.3. K tomu, abychom mohli Smlouvu uzavřít, je třeba, abyste na E-shopu
  vytvořili Objednávku. V tomto návrhu musí být uvedeny následující údaje:
</p>
<p>
  a) Informace o nakupovaném Zboží (na E-shopu označujete Zboží, o jehož nákup
  máte zájem, tlačítkem "Koupit");
</p>
<p>
  b) Informace o Ceně, tyto informace budou zadány v rámci tvorby Objednávky v
  rámci uživatelského prostředí E-shopu, přičemž informace o Ceně, budou uvedeny
  automaticky na základě Vámi zvolného Zboží;
</p>
<p>
  3.4. Vaši Objednávku Vám v co nejkratší době poté, kdy Nám bude doručena,
  potvrdíme zprávou odeslanou na Vaši e-mailovou adresu zadanou v Objednávce.
  Součástí potvrzení bude shrnutí Objednávky a tyto Podmínky formou odkazu v
  e-mailové zprávě.
</p>
<p>
  3.5. Mohou nastat i případy, kdy Vám nebudeme moci Objednávku potvrdit. Jedná
  se zejména o situace, kdy Zboží není dostupné nebo případy, kdy objednáte
  větší počet kusů Zboží, než kolik je z naší strany umožněno. Informaci o
  maximálním počtu Zboží Vám však vždy v rámci E-shopu předem poskytneme a
  neměla by pro Vás být tedy překvapivá.
</p>
<p>
  3.6. V případě, že v rámci E-shopu nebo v Objednávce bude uvedena zjevně
  chybná Cena, nejsme povinni Vám Zboží za tuto Cenu dodat ani v případě, kdy
  jste obdrželi potvrzení Objednávky, a tedy došlo k uzavření Smlouvy. V takové
  situaci Vás budeme bezodkladně kontaktovat a zašleme Vám nabídku na uzavření
  nové Smlouvy v pozměněné podobě oproti Objednávce. Nová Smlouva je v takovém
  případě uzavřena ve chvíli, kdy Naši nabídku potvrdíte. Za zjevnou chybu v
  Ceně se považuje například situace, kdy Cena neodpovídá obvyklé ceně u jiných
  prodejců nebo chybí či přebývá cifra.
</p>
<p>
  3.7. V případě, kdy dojde k uzavření Smlouvy, Vám vzniká závazek k zaplacení
  Celkové ceny.
</p>
<p>
  4.
  <b>Uživatelský účet</b>
</p>
<p>
  4.1. Na základě Vaší registrace v rámci E-shopu můžete přistupovat do svého
  Uživatelského účtu.
</p>
<p>
  4.2. Přístup k Uživatelskému účtu je zabezpečen v rámci služby třetí strany.
  Ohledně těchto přístupových je Vaší povinností zachovávat mlčenlivost a nikomu
  tyto údaje neposkytovat. V případě, že dojde k jejich zneužití, neneseme za to
  žádnou odpovědnost.
</p>
<p>
  4.3. Uživatelský účet je osobní, a nejste tedy oprávněni umožnit jeho
  využívání třetím osobám.
</p>
<p>
  4.4. Váš Uživatelský účet můžeme zrušit, a to zejména v případě, když ukončíte
  pracovní poměr v místě provozování Lednice IT nebo porušíte své povinnosti dle
  Smlouvy.
</p>
<p>
  4.5. Uživatelský účet nemusí být dostupný nepřetržitě, a to zejména s ohledem
  na nutnou údržbu hardwarového a softwarového vybavení.
</p>
<p>
  5.
  <b>CENOVÉ A PLATEBNÍ PODMÍNKY, VÝHRADA VLASTNICKÉHO PRÁVA</b>
</p>
<p>
  5.1. Cena je vždy uvedena v rámci E-shopu a v potvrzení Objednávky. V případě
  rozporu mezi Cenou uvedenou u Zboží v rámci E-shopu a Cenou uvedenou v
  potvrzení Objednávky se uplatní Cena uvedená v potvrzení Objednávky.
</p>
<p>
  5.2. Celková cena je uvedena včetně DPH včetně veškerých poplatků stanovených
  zákonem.
</p>
<p>
  5.3. Platbu Celkové ceny po Vás budeme požadovat po fakturaci. Úhradu Celkové
  ceny můžete provést následujícími způsoby:
</p>
<p>
  a) Bankovním převodem. Informace pro provedení platby Vám zašleme v rámci
  Fakturace. V případě platby bankovním převodem je Celková cena splatná do 3
  dnů.
</p>
<p>
  b) Hotově při osobním odběru. Hotově lze hradit Zboží v případě převzetí v
  Naší provozovně. V případě platby hotově při osobním odběru je Celková cena
  splatná do 3 dnů.
</p>
<p>
  5.4. Faktura bude vystavena v elektronické podobě při pravidelné hromadné
  fakturaci každého dodavatele a bude zaslána na Vaši e-mailovou adresu.
</p>
<p>
  5.5. Vlastnické právo ke Zboží na Vás přechází okamžitě, co zaevidujete nákup
  Zboží. V případě platby bankovním převodem je Celková cena zaplacena připsáním
  na účet dodavatele, v ostatních případech je zaplacena v okamžik provedení
  platby.
</p>