.git
.github
.vscode
build-deps
**/node_modules/
test

.dockerignore
.env
.eslintignore
.eslintrc.yml
.eslintrc.yml.hardcore
.gitattributes
.gitignore
.mergify.yml
*.md
dev.example.env
dev.example.docker-compose.yaml
Dockerfile
npm-debug.log
