NODE_ENV=development
APP_PORT=3000
APP_PORT_SSL=443
APP_RATE_LIMIT_PER_MIN=25
APP_RATE_LIMIT_TRUSTED_IP=127.0.0.1
CORS=https://localhost:9000
DB_CONNECTION_STRING=mongodb://sbf-app:password@localhost:27017/sbf-dev?retryWrites=true&w=majority&tls=false&directConnection=true&authSource=admin
COOKIE_SECRET=verysecretverysecretverysecretverysecretverysecretoh
PARSER_SECRET=ohverysecretverysecretverysecretverysecretverysecret
API_SECRET=developmentsecret
OPENAI_API_KEY=openapisecret
DEBUG=true
MAIL_PORT=8025
MAIL_HOST=localhost
MAIL_FROM=[DEV] Small Business Fridge
MAIL_USERNAME=noreply@example.com
MAIL_PASSWORD=somerandompassword
MAIL_SYSTEM=system_administrator@example.com
MAIL_DEV_SYSTEM=false
MAIL_BASE_URL=https://localhost
TASKS_DAILY_REPORT_ENABLED=true
TASKS_DAILY_REPORT_WEEK_START=1
TASKS_DAILY_REPORT_WEEK_END=5
TASKS_DAILY_REPORT_SEND_HOUR=16
TASKS_DAILY_REPORT_SEND_MINUTE=30
TASKS_DAILY_BACKUP_ENABLED=true
TASKS_DAILY_BACKUP_DAYS_TO_KEEP=14
TASKS_DAILY_BACKUP_HOUR=23
TASKS_DAILY_BACKUP_MINUTE=30
TASKS_DAILY_INCOMPLETE_INVOICE_ENABLED=true
TASKS_DAILY_INCOMPLETE_INVOICE_NET_DAYS=3
TASKS_DAILY_INCOMPLETE_INVOICE_HOUR=9
TASKS_DAILY_INCOMPLETE_INVOICE_MINUTE=00
TASKS_DAILY_USER_PHONES_ENABLED=false
TASKS_DAILY_USER_PHONES_HOUR=18
TASKS_DAILY_USER_PHONES_MINUTE=30
CREDS_IDENTITY_METADATA=https://login.microsoftonline.com/{tenant-id}/v2.0/.well-known/openid-configuration
CREDS_CLIENT_ID={some-client-id}
CREDS_CLIENT_SECRET={somegeneratedsecret}
CREDS_RESPONSE_TYPE=id_token
CREDS_RESPONSE_MODE=form_post
CREDS_REDIRECT_URL=https://localhost/auth/openid/return
CREDS_ALLOW_HTTP_FOR_REDIRECT_URL=false
CREDS_VALIDATE_ISSUER=true
CREDS_ISB2C=
CREDS_ISSUER=
CREDS_LOGGING_LEVEL=
CREDS_NONCE_MAX_AMOUNT=5
CREDS_USE_COOKIE_INSTEAD_OF_SESSION=true
CREDS_COOKIE_ENCRYPTION_KEY=thiskeyhastobethirtytwobyteslong
CREDS_COOKIE_ENCRYPTION_VALUE=disbeshorter
CREDS_COOKIE_SAME_SITE=true
CREDS_DESTROY_SESSION_URL=https://localhost/
CREDS_TENANT_ID={tenant-id}
TZ=Europe/Prague
ESL_AIMS_ENABLED=false
ESL_AIMS_INTEGRATION_CRON=*/5 * * * *
ESL_AIMS_BASE_URL=
ESL_AIMS_STORE=
ESL_AIMS_VERIFY_TLS=true
DASHBOARD_API_ENABLED=false
DASHBOARD_API_SECRET=trytochangemeifyoucan
DASHBOARD_API_ANONYMIZE_USERS=true