<!doctype html>
<html lang="cs" data-bs-theme="dark">

<head>
  <!-- Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <!-- Locally hosted CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/fontawesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- Favicon --}}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cf112a">
  <meta name="apple-mobile-web-app-title" content="Lednice IT">
  <meta name="application-name" content="Lednice IT">
  <meta name="msapplication-TileColor" content="#cf112a">
  <meta name="theme-color" content="#cf112a">
</head>

<body>
  {{> header}}
  {{> alert}}
  <div class="container-fluid mt-3">
    <!-- Locally hosted JS, depended on in child pages -->
    <script type="text/javascript" src="/javascripts/bootstrap.bundle.min.js"></script> <!-- Try to move to bottom - dependencies in child items -->
    {{!-- <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script> <!-- Try to eliminate jquery --> --}}
    {{{body}}}
  </div>
  <!-- Locally hosted JS -->
  <script type="text/javascript" src="/javascripts/alert_timeout.js"></script>
</body>

</html>