{{! Footer with e-shop links }}
<table
  width='640'
  cellpadding='0'
  cellspacing='0'
  border='0'
  class='wrapper'
  bgcolor='#e1e1e1'
>

  {{! Spacer with different color }}
  <tr bgcolor='#ececec'>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

  <tr>
    <td align='center' valign='top'>

      <table
        width='600'
        cellpadding='0'
        cellspacing='0'
        border='0'
        class='container'
      >
        <tr>

          {{! Left column }}
          <td width='200' class='mobile breakpoint' align='center' valign='top'>
            <a
              href='{{baseUrl}}/profile'
              target='_blank'
              style='color:#000; text-decoration:underline;'
            >Preference</a>
          </td>

          {{! Middle column }}
          <td width='200' class='mobile breakpoint' align='center' valign='top'>
            <a
              href='{{baseUrl}}/shop'
              target='_blank'
              style='color:#000; text-decoration:underline;'
            >Nakupovat</a>
          </td>

          {{! Right column }}
          <td width='200' class='mobile breakpoint' align='center' valign='top'>
            <a
              href='{{baseUrl}}/docs'
              target='_blank'
              style='color:#000; text-decoration:underline;'
            >Obchodní podmínky</a>
          </td>

        </tr>
      </table>

    </td>
  </tr>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

</table>

{{! Single column template }}
<table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper'>

  {{! Spacer }}
  <tr>
    <td height='50' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

  <tr>
    <td align='center' valign='top'>

      <table
        width='600'
        cellpadding='0'
        cellspacing='0'
        border='0'
        class='container'
      >
        <tr>

          {{! Middle column }}
          <td align='center' valign='top'>
            <p>© 2023, Lednice IT. All rights reserved. Lednice IT and Lednice
              IT logo are not trademarks or registered trademarks of Houby
              Studio in the Czech Republic and elsewhere. All other trademarks
              are the property of their respective owners.</p>
          </td>

        </tr>
      </table>

    </td>
  </tr>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

</table>