{{> title title="Potvrzení registrace" }}
{{! Single column template }}
<table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

  <tr>
    <td align='center' valign='top'>

      <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>

        {{! 1st row - text }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{! Single column template }}
            <table width='640' cellpadding='0' cellspacing='0' border='0' class='wrapper' bgcolor='#f6f6f6'>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

              <tr>
                <td align='center' valign='top'>

                  <table width='600' cellpadding='0' cellspacing='0' border='0' class='container'>
                    <tr>

                      {{! Middle column }}
                      <td align='left' valign='top'>
                        <p>Vážený zákazníku,</p>
                        <p>vítejte v našem e-shopu Lednice IT! Jsme velmi potěšeni, že jste se rozhodli pro registraci.</p>
                        <p>Před tím, než se pustíte do nakupování, přečtěte si prosím naši dokumentaci, která Vám veškeré procesy vysvětlí.
                           Pokud i poté budete mít jakékoliv dotazy nebo budete potřebovat pomoc, neváhejte nás kontaktovat.</p>
                        <p>Níže je Vaše ID, které můžete použít pro nákup na samoobslužném kiosku přímo u lednice.</p>
                        <h2 style="text-align: center;">{{keypadId}}</h2>
                        <p>Děkujeme vám ještě jednou za registraci a těšíme se na Vaše nákupy!</p>
                      </td>

                    </tr>
                  </table>

                </td>
              </tr>

              {{! Spacer }}
              <tr>
                <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
              </tr>

            </table>
          </td>

        </tr>

        {{! 2nd row - button }}
        <tr>
          {{! Middle column }}
          <td align='center' valign='top'>
            {{!-- Button table partial --}}
            {{> centerButton label="Dokumentace" baseUrl=baseUrl path="/documentation" }}
          </td>
        </tr>
      </table>

    </td>
  </tr>

  {{! Spacer }}
  <tr>
    <td height='10' style='font-size:10px; line-height:10px;'>&nbsp;</td>
  </tr>

</table>