html {
    height: 100%;
}

body {
    height: 100%;
}

body {
    font-family: 'Muli', sans-serif;
}

.container-fluid {
    max-height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.cover {
    object-fit: cover;
    height: 25rem;
    width: 100%;
}

.form-image-thumbnail {
    max-height: 11rem !important;
}

.shop-image-thumbnail {
    max-height: 13rem !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@media screen and (max-width: 991px) {
    .btn {
        width: 100% !important;
    }
    .float-right {
        float: none !important;
    }
    .w-100-lg {
        width: 100% !important;
    }
}