<div class="row">
    <div class="col">
        <div class="card text-center w-50 mx-auto">
            <div class="card-header h4">
                O aplikaci
            </div>
            <div class="card-body">
                <h5 class="card-title">K čemu slouží</h5>
                <p class="card-text">Aplikace slouží k ulehčení procesu dodání produktů sloužícím pro občerstvení a povzbuzení kolegů informatiků, odběru těchto produktů a následnému vyúčtování.</p>
                <h5 class="card-title">Jak to funuguje</h5>
                <p class="card-text">Vše lze ovládat pomocí webového rozhraní, kde po přihlášení skrze Azure Active Directory zákazník může vybrat z nabídky nápojů, jenž jsou skladem a prostým klikem zaevidovat, že si produkt odebral z lednice. Dále má zákazník k dispozici přehled svých objednávek a vyúčtování.</p>
                <p class="card-text">Dodavatel má k dispozici nástroje, jak přidat nově dodané produkty, jak hromadně vyvolat vyúčtování a má přehled nad svou skladovou zásobou.</p>
                <h5 class="card-title">Administrátor</h5>
                <p class="card-text">Aplikaci vytvořil a spravuje Jakub Šindelář, tudíž jakékoli chyby, podněty k nedostatkům a podobně si strčte do prdelky :-)</p>
            </div>
            <div class="card-footer text-muted">
                Vytvořeno pomocí Node.js a MongoDB
            </div>
        </div>
    </div>
</div>