<div class="row">
  <div class="col">
    <div class="card text-center mx-3 mx-lg-auto w-lg-75 w-xxl-50">
      <div class="card-header h4">
        Changelog
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <th scope="col">Datum</th>
              <th scope="col">Popis</th>
            <tbody>
              <tr>
                <td>2019-09-06</td>
                <td>Stabilní verze vystavena do ostrého provozu. Přidán CSRF protection.</td>
              </tr>
              <tr>
                <td>2019-09-06</td>
                <td>Přidán Changelog, předělán způsob zpracování formulářů a návratových oznámení.</td>
              </tr>
              <tr>
                <td>2019-09-08</td>
                <td>Přidán profil uživatele s možností měnit preference.</td>
              </tr>
              <tr>
                <td>2019-09-08</td>
                <td>Přidána kompatibilita pro původní klávesnicový systém.</td>
              </tr>
              <tr>
                <td>2019-09-10</td>
                <td>Přidána stránka Stav skladu pro dodavatele.</td>
              </tr>
              <tr>
                <td>2019-09-12</td>
                <td>Přidána stránka Vyfakturovat s celkovými přehledy pro fakturaci.</td>
              </tr>
              <tr>
                <td>2019-10-01</td>
                <td>Dodavatelé dostali možnost vyfakturovat stávající útratu a přidáno pole IBAN v profilu.</td>
              </tr>
              <tr>
                <td>2019-10-10</td>
                <td>Přidány stránky Faktury a Platby, které umožňují správu faktur.</td>
              </tr>
              <tr>
                <td>2019-12-07</td>
                <td>Předělané API pro novou verzi klávesnice s obrazovkou, umožňující návratové hodnoty.</td>
              </tr>
              <tr>
                <td>2020-01-13</td>
                <td>Přidány každodenní reporty nákupů, které mohou pomoci snížit případná manka.</td>
              </tr>
              <tr>
                <td>2023-10-16</td>
                <td>Aktualizace závislostí a oprava fakturace u více než 65 produktů či uživatelů.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-muted">
        Změny je možné důkladně prozkoumat na <a href="https://github.com/houby-studio/small-bussiness-fridge"><i
            class="fab fa-github"></i> Githubu</a>
      </div>
    </div>
  </div>
</div>