<div class="row">
    <div class="col text-center">
        <div class="h1">Logo Lednice IT</div>        
    </div>
</div>
{{#if user}}
    <div class="row">
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Mějte přehled!</h5>
                    <p class="card-text">Bojíte se, že nebudete mít na zaplacení? Děsí Vás, že nemáte přehled o tom, kolik utrácíte? Už nikdy víc! Kdykoli si na e-shopu zkontrolujte svou historii objednávek.</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">Objednávky</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Nakupujte!</h5>
                    <p class="card-text">Vstupte do světa vychlazených nápojů! Ceny jsou příznivé, nápoje jsou Vám vždy na dosah a s přehledným e-shopem si můžete vybrat nápoj, který máme skladem a rovnou jej objednat!</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">Nakupovat</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Máte vše zaplacené?</h5>
                    <p class="card-text">Nevíte, zda jste již uhradili všechna Vaše vyúčtování? Nechce se Vám chodit osobně za dodavatelem, abyste se jej zeptali? Jednoduše zkontrolujte Vaše faktury a vše si ověřte!</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">Faktury</a>
                </div>
            </div>
        </div>
    </div>
    {{#if user.supplier }}
        <div class="row">
            <div class="col">
                <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Dovezl jsi nové zboží?</h5>
                    <p class="card-text">Chvála ti, ó veliký dodavateli. Díky, že jsi nás poctil další dodávkou chlazených nápojů, jenž zchladí naši žízeň!</p>
                </div>
                <div class="card-footer text-muted">
                    <a href="#" class="btn btn-primary">Naskladnit</a>
                </div>
            </div>
            </div>
        </div>
    {{/if}}
{{else}}

{{/if}}