<form
  id='kiosk_keypad_customer'
  class='needs-validation'
  method='GET'
  action='/kiosk_shop'
  novalidate
>
  <div class='card w-100 mx-auto mt-3'>
    <div class='card-header h2 text-center'>
      Zadejte ID zákazníka
      <input
        type='button'
        value='⏱️'
        name='timer'
        id='timer'
        class='float-end btn disabled btn-block'
      />
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-lg-12'>
          <div class='row'>
            <div class='col'>
              <input
                type='text'
                name='customer_id'
                id='customer_id'
                class='form-control z-depth-1 w-100 btn-lg text-center keypad'
                value=''
                readonly
              />
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='1'
              >1</button>
            </div>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='2'
              >2</button>
            </div>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='3'
              >3</button>
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='4'
              >4</button>
            </div>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='5'
              >5</button>
            </div>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='6'
              >6</button>
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='7'
              >7</button>
            </div>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='8'
              >8</button>
            </div>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='9'
              >9</button>
            </div>
          </div>
          <div class='row'>
            <div class='col'>
              <button
                type='button'
                class='form-control numberBtn btn keypad btn-primary btn-block btn-lg waves-effect'
                value='0'
              >0</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of card-body -->
    <div class='card-footer text-muted'>
      <div class='row mb-3'>
        <div class='col-lg-6'>
          <input
            id='reset'
            type='reset'
            class='form-control btn btn-danger btn-lg btn-block keypad'
            value='Reset'
          />
        </div>
        <div class='col-lg-6'>
          <input
            type='submit'
            class='form-control btn btn-success btn-lg btn-block keypad'
            value='Pokračovat'
          />
        </div>
      </div>
    </div>
  </div>
</form>

<script src='/javascripts/kiosk_keypad.js'></script>