{{# each products }}
    <div class="row">
        {{# each this }}
            <div class="col-lg-3 py-3">
                <div class="card h-100 text-center">
                    <div class="card-header h4">
                        {{ this.displayName }}
                    </div>
                    <img src="{{ this.imagePath }}" class="mx-auto my-2 img-fluid shop-image-thumbnail" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{ this.description }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="row">
                            <p>Skladem: 15</p>
                        </div>
                        <div class="row">
                            <div class="col-xl">
                                <div class="input-group mb-3">
                                        <input type="text" class="form-control" value="{{ this.price }}" disabled>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Kč</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl">
                                <a href="#" class="btn btn-primary float-right">Zakoupit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/each}}