name: Build and push base image

on:
  push:
    branches: ['master']
    paths:
      - 'build-deps/**'
  pull_request:
    branches: ['master']
    paths:
      - 'build-deps/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3.2.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the Docker image
        run: |
          DATE=$(date +%F)
          docker build ./build-deps \
            --file ./build-deps/Dockerfile \
            --tag houbystudio/base-small-business-fridge:$DATE
          docker push --all-tags houbystudio/base-small-business-fridge
